.card-jeux{
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    height: 60vh;
}
.card-info{
    display: flex;
    flex-direction: column;
    width: 35vh;
    padding: 5vh;
}
.card-synopsi{
    width: 65vh;
    padding: 5vh;
}
span{
    padding: 1vh;
}

@media(max-width: 768px){
    .card-synopsi{
        font-size: x-small;
    }
}